.*.swp
*~
*.o
*.d
*.a
conf.mk
buildid
buildid.exe
buildid.h
bin/*
sdk/*
Debug/*
Release/*
*/Debug/*
*/Release/*
modules/*/Debug/*
modules/*/Release/*
ipch/*
*.user
*.suo
*.sdf
*.ncb
*.opensdf
debian/*.log
debian/*.substvars
debian/files
debian/mkd64/
debian/mkd64-dev/
debian/tmp/
modules/perl/perlxsi.c

