.*.swp
*~
*.o
*.d
*.a
*.so
*.dll
mkd64
mkd64.exe
buildid
buildid.exe
buildid.h
!include/mkd64/
Debug/*
Release/*
ipch/*
*.user
*.suo
*.sdf
*.ncb
*.opensdf
mkd64sdk/
debian/*.log
debian/*.substvars
debian/files
debian/mkd64/
debian/mkd64-dev/

