Source: mkd64
Section: devel
Priority: extra
Maintainer: Felix Palmen <felix@palmen-it.de>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: https://github.com/Zirias/c64_tool_mkd64/
#Vcs-Git: git://git.debian.org/collab-maint/mkd64.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/mkd64.git;a=summary

Package: mkd64
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Modular tool for creating .D64 disk images
 mkd64 is a modular tool for creating .D64 images (disk images for a C64 floppy
 drive). The core program is responsible for writing tracks and sectors, while
 loadable modules do everything else, for example writing a directory.
 .
 Features:
 - can create images without directory
 - module 'cbmdos' writes directory in original format (sector interleave 4)
 - module 'xtracks' provides 40 tracks and DOLPHIN DOS / SPEED DOS bam
 - module API for other directory formats
 - interleave can be specified per file
 - can create a 'map file' containing files and their start track/sector
 - start track and sector of a file can be specified explicitly
 - for lots of files on the image, options may be read from a file

Package: mkd64-dev
Architecture: all
Depends: mkd64 (= ${binary:Version})
Description: Development files for mkd64 modules
 This includes headers needed to develop modules for the mkd64 tool

